///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Width
$inuit-wrapper-width: 1366px;

// Colors
$jl-color-primary: #22374B;
$jl-color-accent: #F3943A;
$jl-color-offwhite: #ECEDEE;

// Spacing
$spacing-unit: $inuit-global-spacing-unit;
$spacing-unit-small: $inuit-global-spacing-unit-small;
$spacing-unit-large: $inuit-global-spacing-unit-large;
$spacing-unit-huge: $inuit-global-spacing-unit-huge;

// Inuit
$inuit-enable-layout--flush: true;

// Other
$jl-header-height: 4.5rem;
