/* ========================================================================
   #VISIBILITY
   ======================================================================== */

.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.u-hide {
  display: none !important;
}

.u-hide\@tablet {
  @include mq($from: tablet) {
    display: none !important;
  }
}

.u-hide\@desktop {
  @include mq($from: desktop) {
    display: none !important;
  }
}

.u-show\@tablet {
  @include mq($until: tablet) {
    display: none !important;
  }
}

.u-show\@desktop {
  @include mq($until: desktop) {
    display: none !important;
  }
}
