/* ========================================================================
   #ABOUT
   ======================================================================== */

.jl-about {

  .jl-box:last-of-type {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    .jl-box {
      margin-bottom: scut-em($spacing-unit-large);
      min-height: scut-em(350px);
      justify-content: center;
    }
  }
}

.jl-about-logo {
  @include scut-size(scut-em(493px 143px));
  display: block;
  color: $jl-color-primary;

  @include mq($from: tablet, $until: desktop) {
    margin: 0 auto scut-em($spacing-unit-large);
  }
}
