/* ========================================================================
   #BOX
   ======================================================================== */

.jl-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 $spacing-unit;
  padding: $spacing-unit;
  background-color: #E7E7E7;
  border-radius: $spacing-unit-large;
  color: $jl-color-primary;

  @include mq($from: tablet, $until: desktop) {
    height: scut-rem(440px);
  }

  @include mq($from: desktop) {
    padding-left: $spacing-unit-huge;
    padding-right: $spacing-unit-huge;
  }

  .jl-icon {
    @include scut-size(scut-em(48px));
    margin-bottom: 24px;

    @include mq($from: tablet) {
      @include scut-size(scut-em(96px));
    }
  }

  .jl-heading {
    margin-bottom: $spacing-unit;
    font-size: scut-em(18px);
    text-align: center;

    @include mq($from: tablet) {
      font-size: scut-em(21px);
    }

    @include mq($from: desktop) {
      font-size: scut-em(24px);
    }
  }

  p {
    font-size: scut-em(14px);
  }

  a {
    color: inherit;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .featherlight & {
    padding-top: $spacing-unit-large;
    padding-bottom: $spacing-unit-large;
    box-shadow: 0 0 24px rgba(#000, .75);

    .jl-heading {
      font-size: scut-em(36px);
    }

    p {
      max-width: scut-rem(700px);
    }
  }
}

.jl-box--dark {
  background-color: $jl-color-primary;
  color: #fff;

  .jl-heading {
    border-bottom: 4px solid $jl-color-accent;
  }
}
