/* ========================================================================
   #FOOTER
   ======================================================================== */

.jl-footer {
  padding-top: scut-em(48px);
  padding-bottom: scut-em(48px);
  background-color: #223446;
  color: #fff;
}

.jl-footer-list {
  margin: 0;
  list-style: none;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  > li {
    display: inline-block;
    vertical-align: middle;
  }
}

.jl-footer-contentinfo {
  font-size: scut-em(12px);
  font-weight: 300;
  text-align: center;

  @include mq($from: tablet) {
    float: left;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.jl-footer-logo {
  margin-bottom: scut-em(12px);
  width: 290px;
  height: 38px;
}
