/* ========================================================================
   #HEADINGS
   ======================================================================== */

.jl-heading {
  font-weight: 500;
  letter-spacing: .05em;
  text-transform: uppercase;
}
