/* ========================================================================
   #ABOUT
   ======================================================================== */

.jl-about {
  padding-top: $spacing-unit-large;
  padding-bottom: $spacing-unit-large;

  .jl-box:last-of-type {
    margin-bottom: 0;
  }
}

.jl-about-logo {
  @include scut-size(scut-em(493px 143px));
  display: block;
  color: $jl-color-primary;

  @include mq($from: tablet, $until: desktop) {
    margin: 0 auto scut-em($spacing-unit-large);
  }
}
